body, html {
    height: 100%;
    margin: 0;
   
  }

  .title{
    margin-top: 10%;
  }
  .profile-img{
      margin-top:-5%;
  }

  .about-title h1{
      color: whitesmoke;
      font-size: 8rem;
  }
  .fwh-slide-about{
      height: 100vh;
      background-color: #252627;
      color: #707070;
  }
 
  .fwh-slide-title{
      height: 100vh;
      background-color: #252627;
  }
  .info{
    
      font-size: 25px;
      color: white;
  }

  .name{
      color: #ed5565;
  }

  .info a{
      padding: 5px;
      border: 1px solid  #FFFF00;
  }
  .info a:hover{
      
      color:#00FF33;
  }


  .fwh-slide-skills{
      height: 100vh;
      background-color: #252627;
      color: white;
   
  }
  .skills-title h1{
    
      font-size: 8rem;
  }
